/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */


/* #reg-container>.form { */
.card {
  /* position: absolute; */
  /* top: 5rem; */
  width: 40rem;
  padding: 1rem 2.3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.error {
  color: red;
  font-size: 0.8rem;
  min-height: 1.2rem;
}

#register-btn {
  width: 10rem;
}


@media (width <768px) {
  #reg-container>.form {
    width: 96%;
  }
}

@media (width <576px) {
  #register-btn {
    width: 100% !important;
  }
}